<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}GuestHouses-TN | Ajouter Maison d'hote{% endblock %}</title>
    {% include '@Application/FrontView/header.html.twig' %}
    <style>

    </style>
</head>
<body id="bg-main">
{% include '@Application/FrontView/navbar.html.twig' %}
<main class="mt-5">
    <div class="container mb-5">
        <h3 class="text-center mb-4 my-5">Ajouter une maison</h3>
        {{ form_start(ghouse_add_form) }}
        <div class="md-form">
            <i class="fa fa-home prefix grey-text"></i>
            {{ form_widget(ghouse_add_form.nom, {'attr': { 'class' : 'form-control' } }) }}
            <label>Nom de la maison</label>
        </div>
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            {{ form_widget(ghouse_add_form.nom_prenom_prop, {'attr': { 'class' : 'form-control' } }) }}
            <label>Nom et prenom du proprietaire</label>
        </div>
        <div class="md-form">
            <i class="fa fa-road prefix grey-text" aria-hidden="true"></i>
            {{ form_widget(ghouse_add_form.address, {'attr': { 'class' : 'form-control' } }) }}
            <label for="adresse">Adresse de la maison </label>
            <div id="map-container" class="z-depth-1-half map-container" style="height: 400px"></div>
        </div>
        <div class="md-form">
            <i class="fa fa-phone prefix grey-text"></i>
            {{ form_widget(ghouse_add_form.homeNum, {'attr': { 'class' : 'form-control' } }) }}
            <label for="phone-fixe">Telephone fixe</label>
        </div>
        <div class="md-form">
            <i class="fa fa-mobile-phone prefix grey-text"></i>
            {{ form_widget(ghouse_add_form.mobileNum, {'attr': { 'class' : 'form-control' } }) }}
            <label for="phone-portable">Telephone portable</label>
        </div>
        <div class="md-form">
            <i class="fa fa-pencil prefix grey-text "></i>
            {{ form_widget(ghouse_add_form.aPropos, {'attr': { 'class' : 'md-textarea', 'style' : 'height: 20px' } }) }}
            <label>A propos de la maison</label>
        </div>
        <div class="md-form">
            <i class="fa fa-cart-plus prefix grey-text"></i>
            {{ form_widget(ghouse_add_form.options, {'attr': { 'class' : 'md-textarea',  'style' : 'height: 20px' } }) }}
            <label>Qu'est-ce que la maison offre, veuillez mettre chaque offre dans un ligne</label>
        </div>
        <div class="md-form">
            <i class="fa fa-pencil prefix grey-text "></i>
            {{ form_widget(ghouse_add_form.conditions, {'attr': { 'class' : 'md-textarea', 'style' : 'height: 20px' } }) }}
            <label for="condition-general">Condition géneral de la maisons</label>
        </div>
        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            {{ form_widget(ghouse_add_form.email, {'attr': { 'class' : 'form-control' } }) }}
            <label for="ght-email">Email</label>
        </div>
        <div class="md-form">
            <i class="fa fa-money prefix grey-text"></i>
            {{ form_widget(ghouse_add_form.prixNuit, {'attr': { 'class' : 'form-control' } }) }}
            <label>Prix par nuit en DT</label>
        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            {{ form_widget(ghouse_add_form.mots_cles, {'attr': { 'class' : 'md-textarea', 'style' : 'height: 20px' } }) }}
            <label>Les mots clés qui sont en relation avec votre maison, veuillez mettre des mots precis, veuillez mettre un mot dans chaque ligne </label>
        </div>
        <div class="text-center">
            <button class="btn btn-deep-orange"  type="button">Envoyer</button>
        </div>
        {{ form_end(ghouse_add_form) }}
    </div>
</main>

{% include '@Application/FrontView/footer.html.twig' %}

<script type="text/javascript" src="{{ asset('assets/js/bootstrap-notify.js') }}"></script>
<script async defer
        src="https://maps.google.com/maps/api/js?key=AIzaSyBKjHhqdkrPFmPrEmbVYMwTVoq-ku_cUQI&callback=initMap"></script>
<script type="text/javascript" src="{{ asset('assets/js/ajouter-ghouse.js') }}"></script>

</body>

</html>
